---
layout: layouts/base.njk
title: Contact Us
permalink: /contact/
---

<div class="contact-header">
    <h1>Get in Touch with Our Organic Farm!</h1>
    <p>Email: <a href="mailto:organicfarm@example.com">organicfarm@example.com</a></p>
    <p>Phone: <a href="tel:1235551004">123-555-1004</a></p>
</div>

<div class="header-text">
    <p>We’re happy to hear from you! Feel free to contact us for any inquiries or farm-related questions.</p>
</div>

<div class="container contact-form">
    <form action="/submit_contact.php">
        <h4>Contact Form</h4>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your first name..." required>

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..." required>

        <label for="contactEmail">Email</label>
        <input type="email" id="contactEmail" name="contact_email" placeholder="Your email..." required>

        <label for="country">Country</label>
        <select id="country" name="country" required>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
        </select>

        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Write your message..." style="height:200px" required></textarea>

        <input type="submit" value="Submit">
    </form>
</div>




