---
layout: layouts/base.njk
title: Products
permalink: /products{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/
pagination:
  data: collections.products
  size: 5
  alias: product
---
<h1>Explore Our Organic Farm Products!</h1>

<ul class="products-list">
    {% for product in pagination.items %}
    <li>
        <h2>{{ product.title }}</h2>
        <img src="{{ product.image }}" alt="{{ product.title }} image" class="product-image" />
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }}</p>
        <a href="/order/" target="_blank">Order Product</a>
    </li>
    {% endfor %}
</ul>

<!-- Pagination Controls -->
<div class="pagination">
  {% if pagination.pageNumber > 0 %}
  <a href="{{ pagination.href.previous }}">Previous</a>
  {% else %}
  <span>Previous</span> <!-- Disabled state -->
  {% endif %}
  
  
  {% if pagination.pageNumber < pagination.pages.length - 1 %}
  <a href="{{ pagination.href.next }}">Next</a>
  {% else %}
  <span>Next</span> <!-- Disabled state -->
  {% endif %}
</div>



